{% extends 'webpage/base/base.html' %}

{% load static %}


{% block title %}Portfolio Item{% endblock %}


{% block navbar %}
<li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
{% endblock %}


{% block body %}
<div class="hero hero-single route bg-image" style="background-image: url('{% static "webpage/assets/img/overlay-bg.jpg" %}')">
  <div class="overlay-mf"></div>
  <div class="hero-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="hero-title mb-4">Portfolio Details</h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Portfolio Details</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<main id="main">

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{%  static 'webpage/pic-uploads/image-one.jpg' %}" alt="">
               </div>

              <div class="swiper-slide">
                <img src="{% static 'webpage/pic-uploads/image-two.jpg' %}" alt="">
              </div> 

              {% comment %} <div class="swiper-slide">
                <img src="{% static 'webpage/assets/img/portfolio-details-3.jpg' %}" alt="">
              </div> {% endcomment %}

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              {% comment %} <li><strong>Category</strong>: {{ project_item.category }}</li> {% endcomment %}
              <li><strong>Project Name</strong>: {{ project_item.name }}</li>
              <li><strong>Project date</strong>: {{ project_item.date }}</li>

              {% if project_item.project_url != "N/A"%}
              <li><strong>Project URL</strong>: <a href="#">{{ project_item.project_url }}</a></li>
              {% endif %}

              <li><strong>Project GitHub</strong>: <a href="#">{{ project_item.github_url }}</a></li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Project Description</h2>
            <p>
              {{ project_item.description }}
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock %}